<div class="modal-dialog modal-dialog-responsive modal-dialog-resp-height">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h4 class="modal-title">Configuration</h4>
        </div>
        <div class="modal-body">
            <code class="code-block" highlight source="details"></code>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close();">
                {{'data.modal.close' | translate}}
            </button>
        </div>
    </div>
</div>
