target/
*.log
//Intellij
*.iml
.idea/
//eclipse
.classpath
.project
.settings/
nb-configuration.xml
modules/cstl-sdi/overlays
node_modules/
node/
docker/data/home/.constellation
docker/data/home/data
docker/mount/examind/data
docker/mount/examind/tomcat/webapps
docker/mount/exa-db/pgdata
docker/mount/exa-dbpostgis/pgdata
*.war
