name: "examind-community-standard-debug"

services :
    exa-db:
       image: postgis/postgis:17-3.5-alpine
       restart: "no"
       volumes:
         - exa-db-volume:/var/lib/postgresql/data/
       ports:
         - "5440:5432"
       environment:
        POSTGRES_DB: examind
        POSTGRES_USER: examind
        POSTGRES_PASSWORD: examind
        PGDATA: /var/lib/postgresql/data/pgdata/
       healthcheck:
         test: [ "CMD", "pg_isready", "-U", "examind", "-d", "examind" ]
         retries: 10
         interval: "2s"

    examind:
       image: images.geomatys.com/examind/examind-community:latest
       restart: "no"
       volumes:
         - "./mount/examind/data/:/var/examind/:Z"
       depends_on:
          exa-db:
            condition: service_healthy
       ports:
         # Service port: admin UI and REST API
         - "8080:8080"
         # Debug port
         - "8000:8000"
       environment:
         DATABASE_URL: "postgres://examind:examind@exa-db:5432/examind"
         CSTL_HOME: /var/examind/
         CSTL_URL: "http://localhost:8080/examind"
         # org.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH allow to send value in path with encoded slash
         # this is needed when some identifiers contains slash, like in STA for example
         CATALINA_OPTS: >-
           -Xms1G -Xmx4G
           -Dfile.encoding=UTF-8
           -Dorg.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH=true
           -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8000
         # User authentication configuration
         CSTL_TOKEN_LIFE: 30
         CSTL_SECRET: examind-secret
         SPRING_PROFILES_ACTIVE: standard
         # TODO: document these parameters
         EXAMIND_ENABLE_INTERNAL_SIS_STORE: "true"
         EXA_CACHE_DATA_INFO: "false"
         AWS_REGION: "eu-west-1"

volumes:
  exa-db-volume:
