# Examind service using an embedded file-based HSQLDB as its administration database.
name: "examind-community-embedded-db"

services :
  examind:
    image: images.geomatys.com/examind/examind-community:latest
    ports:
      - "8080:8080"
    volumes:
      - "embedded:/var/examind"
    environment:
      DATABASE_URL: jdbc:hsqldb:file:/var/examind/admin_db
      CSTL_HOME: /var/examind/home
      CSTL_URL: "http://localhost:8080/examind"
      CATALINA_OPTS: >-
        -Xms1G -Xmx4G 
        -Dfile.encoding=UTF-8 
        -Dorg.apache.tomcat.util.buf.UDecoder.ALLOW_ENCODED_SLASH=true
      SPRING_PROFILES_ACTIVE: standard

volumes:
  embedded:
