<div id="chooseDataModalWMTS" class="modal-dialog modal-dialog-resp-height"
     ng-class="{'modal-dialog-sld':mode.display==='internal'}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()">&times;</button>
            <h4 ng-if="mode.display==='internal'"
                class="modal-title"
                translate="service.edit.dashboard.wmts.select.internal">Select one or more data in the list</h4>
            <h4 ng-if="mode.display==='lastStep'"
                class="modal-title"
                translate="service.edit.dashboard.wmts.select.fillName">Enter WCS layer name</h4>
        </div>
        <div class="modal-body modal-body-style">
            <div ng-if="mode.display==='internal'">
                <div ng-include="'views/webservice/stac/step1.html'"></div>
            </div>
            <div ng-if="mode.display==='lastStep'">
                <form class="form-horizontal" style="margin:18px;" id="laststepform" name="laststepform">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label"
                               style="color: #ddd"
                               translate="service.edit.dashboard.wmts.select.layerName">Layer name</label>
                        <div class="col-sm-7">
                            <input type="text"
                                   class="form-control form-control-fix"
                                   ng-class="{'highlight-invalid':!isValidWCSLayerName()}"
                                   ng-model="values.userLayerName"
                                   debounce="200"
                                   ng-required="true"
                                   placeholder="{{'service.edit.dashboard.wmts.select.fillName' | translate}}"
                                   name="layerNameField"/>
                            <div ng-if="!isValidWCSLayerName()"
                                 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-error animate">
                                <i class="fa fa-caret-up"></i>
                                <span translate="service.edit.dashboard.wmts.validation.name">The name is required and should not contain any special characters or space characters.</span>
                            </div>
                            <div ng-if="isLayerNameExists()"
                                 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-error animate">
                                <i class="fa fa-caret-up"></i>
                                <span translate="service.edit.dashboard.wmts.validation.nameExists">The layer name already exists.</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer modal-footer-list-data">
            <div class="col-xs-6 pull-right">
                <button type="button"
                        class="btn btn-default"
                        ng-click="dismiss()"
                        translate="label.close">Close
                </button>
                <button type="button"
                        ng-if="mode.display==='lastStep'"
                        class="btn btn-default"
                        ng-click="mode.display=mode.previous;mode.previous='lastStep';"
                        translate="label.previous">Previous
                </button>

                <button id="chooseButton"
                        data-test-id="choose-data"
                        type="button"
                        class="btn btn-add"
                        ng-click="choose()"
                        ng-if="mode.display==='internal'"
                        translate="data.modal.choose">Choose
                </button>

            </div>
        </div>
    </div>
</div>
